[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pipenv = "*"
django-environ = "*"
whitenoise = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-allauth = "*"
django-storages = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
argon2-cffi = "*"
pillow = "*"
black = "*"
boto3 = "*"
django-tinymce = "*"
django-taggit = "*"
django-filebrowser-no-grappelli2 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
