{% extends "base_2col.html" %}{% load blog_tags %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "prism.css" %}">
{% endblock extrahead %}

{% block  main %}
    <h2>{{ total }} item{{ total|pluralize }} tagged “{{ tags|join:"” and “" }}”</h2>
    <hr>
    {% for item in items %}
        {% if 1 is 1 %}{% ifchanged item.obj.created_time.year %}
            <h3><strong>{{ item.obj.created_time.year }}</strong></h3>{% endifchanged %}{% endif %}
        {% ifequal item.type "entry" %}
            <div class="entry segment">
                <h3><a href="{{ item.obj.get_absolute_url }}" rel="bookmark">{{ item.obj.title }}</a></h3>
                <p>
                    {{ item.obj.content|safe|truncatewords:75 }} <span
                        style="font-size: 0.9em">[... <a
                        href="{{ item.obj.get_absolute_url }}">{{ item.obj.content|wordcount }} word{{ item.obj.content|wordcount|pluralize }}</a>]</span>
                </p>
                <div class="entryFooter">
                    {% entry_footer item.obj %}
                </div>
            </div> <!-- end div.entry -->
            <hr>
        {% endifequal %}
        {% ifequal item.type "blogmark" %}
            <div class="blogmark segment"><p><a href="{{ item.obj.link_url }}">{{ item.obj.link_title }}</a>
                {% if item.obj.via_url %} (
                    <a href="{{ item.obj.via_url }}" title="{{ item.obj.via_title }}">via</a>){% endif %}
                {% if not item.obj.via_url and not item.obj.link_title %}
                    .{% endif %} {{ item.obj.commentary }} <a href="{{ item.obj.get_absolute_url }}"
                                                              rel="bookmark">#</a>
                <a href="blog/{{ item.obj.created_time|date:"Y/m/j/" }}">{{ item.obj.created_time|date:"jS F Y" }}</a>
                , {{ item.obj.created_time|date:"f A"|lower }}</p>
            </div>
            <hr>
        {% endifequal %}
        {% ifequal item.type "quotation" %}
            <div class="quote segment">
                <blockquote{% if item.obj.source_url %} cite="{{ item.obj.source_url }}"{% endif %}>
                    <p>{{ item.obj.quotation }}</p></blockquote>
                <p class="cite">&mdash; {% if item.obj.source_url %}
                    <a href="{{ item.obj.source_url }}">{{ item.obj.source }}</a>{% else %}
                    {{ item.obj.source }}{% endif %} <a href="{{ item.obj.get_absolute_url }}" rel="bookmark">#</a>
                    <a href="blog/{{ item.obj.created_time|date:"Y/m/j/" }}">{{ item.obj.created_time|date:"jS F Y" }}</a>
                    , {{ item.obj.created_time|date:"f A"|lower }}</p>
            </div>
            <hr>
        {% endifequal %}
    {% endfor %}

    {% include "_pagination.html" %}

{% endblock %}

{% block sidebar %}
    <div>
        {% if only_one_tag and tag.get_related_tags %}
            <h3>Related tags</h3>
            {% for related_tag in tag.get_related_tags %}
                <a class="btn btn-sm btn-secondary" href="{{ related_tag.get_absolute_url }}" rel="tag">
                    {{ related_tag }}
                    <span class="badge bg-dark">{{ related_tag.total_count }}</span>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}